[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
emoji = "*"
click = "*"
gunicorn = "*"
itsdangerous = "*"
python-dotenv = "*"
six = "*"
flask-cors = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
jinja2 = "*"
markupsafe = "*"
sqlalchemy = "*"
wtforms = "*"
flask-migrate = "*"
flask-login = "*"
alembic = "*"
python-dateutil = "*"
python-editor = "*"
greenlet = "*"
mako = "*"
bidict = "*"
dnspython = "*"
eventlet = "*"
flask-socketio = "*"
importlib-metadata = "*"
python-engineio = "*"
python-socketio = "*"
zipp = "*"
werkzeug = "*"
psycopg2 = "*"
gevent = "*"
"zope.event" = "*"
"zope.interface" = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.9"
